* {
    margin: 0;

    box-sizing: border-box;
}

@media screen and (max-width: 390px) {
    .header {
        background-color: #1A1A1A;
        padding: 12px 16px 12px 16px;
        height: 56px;
        gap: 8px;
        position: fixed;
        width: 390px;
        display: flex;
        align-items: center;
    }

    .note-bell {
        width: 13.5px;
        height: 14.5px;
        top: 3px;
        left: 3.08px;
        color: #E3E3E3;
    }



    .dc-div {
        width: 32px;
        height: 32px;
        border-radius: 8px;

        gap: 8px;
        background-color: #36FBA1;
        display: flex;

        align-items: center;
        justify-content: center;

    }

    .logo {
        width: 32px;
        height: 32px;
    }

    .logo-div {
        width: 278px;
        height: 32px;
        gap: 8px;
        display: flex;
    }

    .note-1 {
        width: 20px;
        height: 20px;


    }

    .note-div {
        width: 72px;
        height: 32px;
        gap: 8px;
        display: flex;

        align-items: center;
        justify-content: center;
    }

    .note-layout {
        width: 32px;
        height: 32px;

        border-radius: 8px;


        align-items: center;
        justify-content: center;
        display: flex;
    }

    .search-icon {
        width: 20px;
        height: 20px;
        position: absolute;
        color: aliceblue;

        padding: 2.5px;
        padding-left: 8px;
        margin: 5px;


    }


    .searchinput {
        width: 238px;
        height: 32px;
        border-radius: 8px;
        border: 1px solid #616161;
        padding-left: 32px;
        font-size: 13px;

        color: white;
        outline: none;
        background-color: #303030;
        display: flex;

    }

    .searchinput::placeholder {
        color: #B5B5B5;
        line-height: 18.2px;
        font-size: 13px;
    }

    .trial-div {
        width: 390px;
        height: 104px;
        padding: 12px 8px 12px 8px;
        gap: 16px;
        background-color: #1A1A1A;
        color: white;
        display: flex;
        flex-direction: column;

    }

    .trial-section {
        padding-top: 90px;
        gap: 16px;
        display: flex;
        flex-direction: column;
        width: 390px;
        height: 244px;

    }


    .flex-trial {
        display: flex;
        justify-content: space-between;

    }

    .select-btn {
        width: 99px;
        height: 28px;
        border-radius: 6px;
        border: 1px solid #000000;
        white-space: nowrap;
        background-color: #FFFFFF;
        font-weight: bold;
        color: #323232;

    }

    .select-p {
        width: 75px;
        height: 16px;
        size: 12px;

    }

    .trial-div2 {
        width: 330px;
        height: 36px;
        line-height: 18.5px;
        size: 13px;


    }

    .trial-times {
        width: 36px;
        height: 36px;
        border-radius: 10px;
        padding: 8px;
        gap: 8px;
    }

    #setup-guide {
        width: 390px;
        height: 124px;
        border: 1px solid #DBDBDB;
        padding: 8px;
        background-color: #FFFFFF;
        gap: 16px;
        flex-direction: column;
        display: flex;



    }

    .setup-guide2 {
        width: 375px;
        height: 108px;
        display: flex;
        justify-content: space-between;
        padding: 8px;

    }

    .setup-guide3 {
        width: 330px;
        height: 92px;
        gap: 16px;
        display: flex;
        flex-direction: column;
    }

    .setup-guide4 {
        width: 330px;
        height: 60px;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .setup-guide5 {
        width: 228px;
        height: 16px;
        gap: 8px;
        display: flex;
        align-items: center;



    }

    #setup-arrow {
        width: 28px;
        height: 28px;
        border-radius: 6px;
        padding: 4px;
        gap: 8px;
    }

    .loading {
        width: 90px;
        height: 4px;
        border-radius: 28px;
        background-color: #E3E3E3;
        display: flex;
    }

    .completed {


        height: 16px;
        color: #303030;
        white-space: nowrap;
        size: 12px;
        font-weight: 400;


    }

    #loading-span {
        background-color: #000000;
        width: 0px;
        height: 4px;
        border-radius: 28px 28px 28px 28px;
    }



    .body {
        background-color: #f1f1f1;
    }

    .setup-h {
        width: 82px;
        height: 20px;
        font-weight: 600;
        size: 14px;
        line-height: 19.6px;
        color: #303030;
    }

    .setup-p {
        width: 330px;
        height: 36px;
        font-weight: 400;
        size: 13px;
        line-height: 18.2px;
        color: #303030;
    }

    #content {
        width: 375px;
        height: 309px;
        gap: 2px;
        flex-direction: column;

        display: none;

    }

    #first {
        width: 374px;
        height: 141px;
        border-radius: 10px;
        padding: 8px 8px 12px 8px;
        gap: 96px;
        background-color: #F3F3F3;

    }


    #second {
        width: 374px;
        height: 141px;
        border-radius: 10px;
        padding: 8px 8px 12px 8px;
        gap: 96px;
        background-color: #F3F3F3;
        display: none;


    }

    #third {
        width: 374px;
        height: 159px;
        border-radius: 10px;
        padding: 8px 8px 12px 8px;
        gap: 96px;
        background-color: #F3F3F3;
        display: none;

    }

    #fourth {
        width: 374px;
        height: 159px;
        border-radius: 10px;
        padding: 8px 8px 12px 8px;
        gap: 96px;
        background-color: #F3F3F3;
        display: none;

    }

    #fifth {
        width: 374px;
        height: 177px;
        border-radius: 10px;
        padding: 8px 8px 12px 8px;
        gap: 96px;
        background-color: #F3F3F3;
        display: none;

    }

    .first-detail {
        width: 358px;
        height: 121px;
        gap: 8px;
        display: flex;

    }

    .second-detail {
        width: 358px;
        height: 121px;
        gap: 8px;
        display: flex;


    }

    #third-detail {
        width: 358px;
        height: 139px;
        gap: 8px;
        display: flex;


    }

    .fourth-detail {
        width: 358px;
        height: 139px;
        gap: 8px;
        display: flex;


    }

    .fifth-detail {
        width: 358px;
        height: 157px;
        gap: 8px;
        display: flex;


    }

    #second-detail2 {
        width: 358px;
        height: 24px;
        gap: 8px;
        display: flex;


    }

    #first-detail2 {
        width: 358px;
        height: 24px;
        gap: 8px;
        display: flex;



    }

    #third-detail2 {
        width: 358px;
        height: 24px;
        gap: 8px;
        display: flex;


    }

    #fourth-detail2 {
        width: 358px;
        height: 24px;
        gap: 8px;
        display: flex;


    }

    #fifth-detail2 {
        width: 358px;
        height: 24px;
        gap: 8px;
        display: flex;


    }

    #first2 {
        width: 374px;
        height: 40px;
        border-radius: 10px;
        padding: 8px;

        display: none;
    }

    #second2 {
        width: 374px;
        height: 40px;
        border-radius: 10px;
        padding: 8px;


    }

    #third2 {
        width: 374px;
        height: 40px;
        border-radius: 10px;
        padding: 8px;


    }

    #fourth2 {
        width: 374px;
        height: 40px;
        border-radius: 10px;
        padding: 8px;
        gap: 120px;
    }

    #fifth2 {
        width: 374px;
        height: 40px;
        border-radius: 10px;
        padding: 8px;
        gap: 120px;
    }

    .first-icondiv {
        width: 24px;
        height: 100%;
        gap: 8px;
    }

    #newicon1 {
        margin-top: 2px;
        margin-left: 2px;
        animation: firstanimation1 0.5s ease-in-out 0.03s 1 normal forwards;

    }

    @keyframes firstanimation1 {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #newicon2 {
        margin-top: 2px;
        margin-left: 2px;

        animation: firstanimation2 0.5s ease-in-out 0.03s 1 normal forwards;

    }

    @keyframes firstanimation2 {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    /*#dnewicon2 {
        margin-top: 2px;
        margin-left: 2px;

        animation: secondanimation2 0.5s ease-in-out 0.03s 1 normal forwards;

    }

    @keyframes secondanimation2 {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }*/

    #newicon3 {
        margin-top: 2px;
        margin-left: 2px;
        animation: firstanimation3 0.5s ease-in-out 0.03s 1 normal forwards;

    }

    @keyframes firstanimation3 {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #newicon4 {
        margin-top: 2px;
        margin-left: 2px;
        animation: firstanimation4 0.5s ease-in-out 0.03s 1 normal forwards;

    }

    @keyframes firstanimation4 {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #newicon5 {
        margin-top: 2px;
        margin-left: 2px;
        animation: firstanimation5 0.5s ease-in-out 0.03s 1 normal forwards;

    }

    @keyframes firstanimation5 {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #first-icon {
        width: 24px;
        height: 24px;

        padding-top: 2px;
        padding-left: 2px;
    }

    #dfirst-icon {
        width: 24px;
        height: 24px;

        padding-top: 2px;
        padding-left: 2px;
    }

    #second-icon {
        width: 24px;
        height: 24px;

        padding-top: 2px;
        padding-left: 2px;
    }

    #dsecond-icon {
        width: 24px;
        height: 24px;

        padding-top: 2px;
        padding-left: 2px;
    }

    #third-icon {
        width: 24px;
        height: 24px;

        padding-top: 2px;
        padding-left: 2px;
    }

    #dthird-icon {
        width: 24px;
        height: 24px;

        padding-top: 2px;
        padding-left: 2px;
    }

    #fourth-icon {
        width: 24px;
        height: 24px;

        padding-top: 2px;
        padding-left: 2px;
    }

    #dfourth-icon {
        width: 24px;
        height: 24px;

        padding-top: 2px;
        padding-left: 2px;
    }

    #fifth-icon {
        width: 24px;
        height: 24px;

        padding-top: 2px;
        padding-left: 2px;
    }

    #dfifth-icon {
        width: 24px;
        height: 24px;

        padding-top: 2px;
        padding-left: 2px;
    }


    .first-content {
        width: 326px;
        height: 100%;
        padding: 2px 0px 2px 0px;
        gap: 16px;
        display: flex;
        flex-direction: column;
    }

    .firstcontent-1 {
        width: 176px;
        height: 18px;
        font-weight: 600;
        size: 13px;
        line-height: 18.2px;
        color: #303030;
        white-space: nowrap;
    }

    .secondcontent-1 {
        width: 139px;
        height: 18px;
        font-weight: 600;
        size: 13px;
        line-height: 18.2px;
        color: #303030;
        white-space: nowrap;
    }

    .thirdcontent-1 {
        width: 137px;
        height: 18px;
        font-weight: 600;
        size: 13px;
        line-height: 18.2px;
        color: #303030;
        white-space: nowrap;
    }

    .fourthcontent-1 {
        width: 104px;
        height: 18px;
        font-weight: 600;
        size: 13px;
        line-height: 18.2px;
        color: #303030;
        white-space: nowrap;
    }

    .fifthcontent-1 {
        width: 166px;
        height: 18px;
        font-weight: 600;
        size: 13px;
        line-height: 18.2px;
        color: #303030;
        white-space: nowrap;
    }

    .firstcontent-2 {
        width: 326px;
        height: 39px;
        font-weight: 500;
        size: 14px;
        line-height: 19.6px;
        color: #616161;

    }

    .first-span {
        font-weight: 500;
        size: 13px;
        line-height: 18.2px;
        color: #005BD3;
    }

    .firstcontent-btn {
        width: 127px;
        height: 28px;
        border-radius: 6px;

        padding: 6px 12px 6px 12px;
        gap: 8px;
        color: #FFFFFF;
        background-color: #404040;

    }

    .secondcontent-btn {
        width: 97px;
        height: 28px;
        border-radius: 6px;

        padding: 6px 12px 6px 12px;
        gap: 8px;
        color: #FFFFFF;
        background-color: #404040;
        white-space: nowrap;

    }

    .thirdcontent-btn {
        width: 94px;
        height: 28px;
        border-radius: 6px;

        padding: 6px 12px 6px 12px;
        gap: 8px;
        color: #FFFFFF;
        background-color: #404040;
        white-space: nowrap;

    }

    .fourthcontent-btn {
        width: 91px;
        height: 28px;
        border-radius: 6px;

        padding: 6px 12px 6px 12px;
        gap: 8px;
        color: #FFFFFF;
        background-color: #404040;
        white-space: nowrap;

    }

    .fifthcontent-btn {
        width: 119px;
        height: 28px;
        border-radius: 6px;

        padding: 6px 12px 6px 12px;
        gap: 8px;
        color: #FFFFFF;
        background-color: #404040;
        white-space: nowrap;

    }

    .firstcontent-p {
        width: 56px;
        height: 28px;
        border-radius: 6px;
        white-space: nowrap;
        gap: 8px;

    }

    .secondcontent-p {}

    .firstcontent-p2 {
        font-weight: 500;
        size: 14px;
        line-height: 19.6px;
        color: #616161;
    }

    .second-div {
        width: 358px;
        height: 24px;
        gap: 8px;

    }

    .secondcontent-div {
        width: 326px;
        height: 22px;
        padding: 2px 0px 2px 0px;
        gap: 16px;
    }

    .secondflex-div {
        width: 225px;
        height: 28px;
        gap: 16px;
        display: flex;
    }

    .secondcontent-btn2 {
        width: 112px;
        height: 28px;
        border-radius: 6px;
        padding: 6px 12px 6px 12px;
        gap: 8px;
        white-space: nowrap;
        border: none;
        background-color: #F3F3F3;
    }

    .second-div2 {}

    #add-product1 {
        width: 326px;
        height: 22px;
        padding: 2px 0px 2px 0px;
        gap: 16px;
    }

    #add-product2 {
        width: 326px;
        height: 22px;
        padding: 2px 0px 2px 0px;
        gap: 16px;
    }

    #add-product3 {
        width: 326px;
        height: 22px;
        padding: 2px 0px 2px 0px;
        gap: 16px;
    }

    #add-product4 {
        width: 326px;
        height: 22px;
        padding: 2px 0px 2px 0px;
        gap: 16px;
    }

    #add-product5 {
        width: 326px;
        height: 22px;
        padding: 2px 0px 2px 0px;
        gap: 16px;
    }

    .add-product p {
        font-weight: 500;
        size: 13px;
        line-height: 18.5px;
        width: 174px;
        height: 18px;
        color: #303030;
    }

    .firstcontent-p1 {
        white-space: nowrap;
    }

    #second1-icon2 {

        width: 24px;
        height: 24px;
        padding-top: 2px;
        padding-left: 2px;
    }

    #second2-icon2 {

        width: 24px;
        height: 24px;
        padding-top: 2px;
        padding-left: 2px;
    }

    #second3-icon2 {

        width: 24px;
        height: 24px;
        padding-top: 2px;
        padding-left: 2px;
    }

    #second4-icon2 {

        width: 24px;
        height: 24px;
        padding-top: 2px;
        padding-left: 2px;
    }

    #second5-icon2 {

        width: 24px;
        height: 24px;
        padding-top: 2px;
        padding-left: 2px;
    }

    .desktop {
        display: none
    }
}

@media screen and (min-width: 1024px) {
    .mobile {
        display: none;
    }



    .header {
        width: 100%;
        height: 56px;
        position: Fixed;

        padding: 12px 16px 12px 16px;
        background-color: #1A1A1A;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        width: 464px;
        height: 30px;
        gap: 7.52px;
    }

    .mylogo {
        width: 104.87px;
        height: 30px;
    }

    .searchinput {
        width: 480px;
        height: 32px;
        border-radius: 8px;
        border: 1px solid #616161;
        padding: 8px;
        padding-left: 28px;
        gap: 6px;
        background-color: #303030;
        outline: none;
        color: white;
    }

    .search-icon {
        position: absolute;
        width: 20px;
        height: 20px;
        margin-left: 6px;
        margin-top: 5px;

        padding-left: 3.5px;
        padding-top: 3.5px;

    }

    .searchinput::placeholder {
        width: 44px;
        height: 18px;
        font-weight: 500;
        font-size: 13px;
        line-height: 18.2px;
        color: #B5B5B5;

    }

    .menu-note {
        width: 464px;
        height: 32px;
        gap: 8px;
        display: flex;
        justify-content: end;
    }

    .bell {
        width: 32px;
        height: 32px;
        border-radius: 8px;
        padding: 6px;
        gap: 8px;
        background-color: #303030;

    }

    .menu {
        width: 142px;
        height: 32px;
        border-radius: 8px;
        padding: 2px 2px 2px 8px;
        gap: 8px;
        background-color: #303030;
        display: flex;



    }

    .davii-col {
        width: 96px;
        height: 9px;
        color: #E3E3E3;
        line-height: 15.6px;
        font-weight: 500;
        font-size: 13px;
        margin-top: 6px;



    }

    .dc {
        width: 28px;
        height: 28px;
        border-radius: 6px;
        background-color: #36FBA1;

    }

    .dc-p {
        width: 18px;
        height: 9px;
        margin-top: 6px;
        margin-left: 4.8px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15.6px;
        text-align: center;
        color: #000000;


    }

    .section {
        width: 800px;

        padding-top: 88px;
        gap: 16px;
        margin: auto;
        display: flex;
        flex-direction: column;

    }

    .select-plan {
        width: 800px;
        height: 56px;
        border-radius: 8px;
        justify-content: space-between;
        display: flex;
        padding: 12px 8px 12px 16px;
        background-color: #1A1A1A;
        align-items: center;
    }

    .extend-trial {
        width: 369px;
        height: 18px;
        font-weight: 500;
        font-size: 13px;
        line-height: 18.2px;
        color: #E3E3E3;

    }

    .flex-trial {
        width: 139px;
        height: 32px;
        gap: 8px;
        display: flex;
        align-items: center;
    }

    .select-btn {
        width: 99px;
        height: 28px;
        border-radius: 6px;
        border: 1px solid #000000;
        background-color: #FFFFFF;
    }

    .select-btn-p {
        font-weight: 600;
        font-size: 12px;
        line-height: 15.6px;
        color: #323232;

    }

    .times-icon {
        width: 32px;
        height: 32px;
        border-radius: 6px;
        padding: 6px;
        gap: 8px;
    }

    #d-setup-guide {
        width: 800px;

        border-radius: 18px;
        padding: 8px;
        gap: 16px;
        border: 1px solid #DBDBDB;
        background-color: white;


    }

    .guide1 {
        width: 784px;
        height: 90px;
        justify-content: space-between;
        display: flex;
        padding: 8px;
    }

    .guide2 {
        width: 376px;
        height: 74px;
        gap: 16px;
        display: flex;
        flex-direction: column;
    }

    #setup1 {
        width: 28px;
        height: 28px;
        border-radius: 6px;
        padding: 4px;
        gap: 8px;



    }

    .guide-3 {
        width: 376px;
        height: 42px;
        gap: 4px;
        display: flex;
        flex-direction: column;
    }

    .guide-p1 {
        width: 82px;
        height: 20px;
        font-weight: 600;
        font-size: 14px;
        line-height: 19.6px;
        color: #303030;
    }

    .guide-p2 {
        width: 376px;
        height: 18px;
        font-weight: 400;
        font-size: 13px;
        line-height: 18.2px;
        color: #303030;
    }

    .loading-div {
        width: 168px;
        height: 16px;
        gap: 8px;
        display: flex;
        align-items: center;

    }

    .completed {
        width: 88px;
        height: 16px;
        font-size: 12px;
        line-height: 15.6px;
        font-weight: 400;
        color: #303030;

    }

    .loading {
        width: 90px;
        height: 4px;
        border-radius: 28px;
        background-color: #E3E3E3;
    }



    #dsecond {
        width: 784px;
        height: 141px;
        border-radius: 10px;
        padding: 8px 8px 12px 8px;
        gap: 96px;
        background-color: #F3F3F3;

        display: none;
    }

    #dthird {
        width: 784px;
        height: 141px;
        border-radius: 10px;
        padding: 8px 8px 12px 8px;
        gap: 96px;
        background-color: #F3F3F3;

        display: none;

    }

    #dfourth {
        width: 784px;
        height: 141px;
        border-radius: 10px;
        padding: 8px 8px 12px 8px;
        gap: 96px;
        background-color: #F3F3F3;

        display: none;

    }

    #dfifth {
        width: 784px;
        height: 159px;
        border-radius: 10px;
        padding: 8px 8px 12px 8px;
        gap: 96px;
        background-color: #F3F3F3;

        align-items: center;
        display: none;
    }

    #dcontent {
        width: 784px;

        gap: 2px;
        display: none;
        flex-direction: column;
    }

    #dfirst {
        width: 784px;
        height: 141px;
        border-radius: 10px;
        padding: 8px 8px 12px 8px;
        gap: 96px;
        background-color: #F3F3F3;
        display: flex;

    }

    .first-detail {
        width: 515.86px;
        height: 121px;
        gap: 8px;
        display: flex;

    }

    .second-detail {
        width: 515.86px;
        height: 121px;
        gap: 8px;
        display: flex;

    }

    .third-detail {
        width: 515.86px;
        height: 121px;
        gap: 8px;
        display: flex;

    }

    .fourth-detail {
        width: 515.86px;
        height: 121px;
        gap: 8px;
        display: flex;

    }

    .fifth-detail {
        width: 515.86px;
        height: 139px;
        gap: 8px;
        display: flex;

    }

    .first-pic {
        width: 156.14px;
        height: 120px;
    }

    .second-pic {
        width: 156.14px;
        height: 120px;
    }

    .first-icondiv {
        width: 24px;
        height: 100%;
        gap: 8px;

    }

    #dfirst-icon {
        width: 24px;
        height: 24px;

        padding-left: 2px;
        padding-top: 2px;
    }

    #dsecond-icon {
        width: 24px;
        height: 24px;

        padding-left: 2px;
        padding-top: 2px;
    }

    #dthird-icon {
        width: 24px;
        height: 24px;

        padding-left: 2px;
        padding-top: 2px;
    }

    #dfourth-icon {
        width: 24px;
        height: 24px;

        padding-left: 2px;
        padding-top: 2px;
    }

    #dfifth-icon {
        width: 24px;
        height: 24px;

        padding-left: 2px;
        padding-top: 2px;
    }

    .first-content {
        width: 483.86px;
        height: 121px;
        padding: 2px 0px 2px 0px;
        gap: 16px;
        flex-direction: column;
        display: flex;


    }

    .fifth-content {
        width: 483.86px;
        height: 139px;
        padding: 2px 0px 2px 0px;
        gap: 16px;
        flex-direction: column;
        display: flex;


    }

    .firstcontent-1 {
        width: 176px;
        height: 18px;
        font-weight: 600;
        font-size: 13px;
        line-height: 18.2px;
        color: #303030;
    }

    .secondcontent-1 {
        width: 176px;
        height: 18px;
        font-weight: 600;
        font-size: 13px;
        line-height: 18.2px;
        color: #303030;
    }

    .thirdcontent-1 {
        width: 176px;
        height: 18px;
        font-weight: 600;
        font-size: 13px;
        line-height: 18.2px;
        color: #303030;
    }

    .fourthcontent-1 {
        width: 176px;
        height: 18px;
        font-weight: 600;
        font-size: 13px;
        line-height: 18.2px;
        color: #303030;
    }

    .fifthcontent-1 {
        width: 176px;
        height: 18px;
        font-weight: 600;
        font-size: 13px;
        line-height: 18.2px;
        color: #303030;
    }

    .firstcontent-p2 {
        width: 483.86px;
        height: 39px;
        font-weight: 500;
        font-size: 14px;
        line-height: 19.6px;
        color: #616161;


    }

    .firstcontent-p25 {
        width: 483.86px;
        height: 57px;
        font-weight: 500;
        font-size: 14px;
        line-height: 19.6px;
        color: #616161;


    }

    .first-span {
        font-weight: 500;
        font-size: 15px;
        line-height: 18.2px;
        color: #005BD3;

    }

    .firstcontent-btn {
        width: 127px;
        height: 28px;
        gap: 16px;
        background-color: #404040;
        color: white;
        border-radius: 6px;
    }

    #dsecond2 {
        width: 784px;
        height: 40px;
        border-radius: 10px;
        padding: 8px;
        gap: 120px;


    }

    #dfirst2 {
        width: 784px;
        height: 40px;
        border-radius: 10px;
        padding: 8px;
        gap: 120px;
        display: none;


    }

    #second-detail2 {
        width: 768px;
        height: 24px;
        gap: 8px;
        display: flex;
    }

    #first-detail2 {
        width: 768px;
        height: 24px;
        gap: 8px;
        display: flex;
    }

    #dsecond2-icon2 {
        width: 24px;
        height: 24px;
        gap: 8px;
    }

    #dsecond1-icon2 {
        width: 24px;
        height: 24px;
        gap: 8px;
    }

    #dsecond3-icon2 {
        width: 24px;
        height: 24px;
        gap: 8px;
    }

    #dsecond4-icon2 {
        width: 24px;
        height: 24px;
        gap: 8px;
    }

    #dsecond5-icon2 {
        width: 24px;
        height: 24px;
        gap: 8px;
    }

    #dadd-product2 {
        width: 736px;
        height: 22px;
        padding: 2px 0px 2px 0px;
    }

    #dadd-product1 {
        width: 736px;
        height: 22px;
        padding: 2px 0px 2px 0px;
    }

    #dthird2 {
        width: 784px;
        height: 40px;
        border-radius: 10px;
        padding: 8px;
        gap: 120px;
    }

    #third-detail2 {
        width: 768px;
        height: 24px;
        gap: 8px;
        display: flex;
    }

    #second3-icon2 {
        width: 24px;
        height: 24px;
        gap: 8px;
    }

    #dadd-product3 {
        width: 736px;
        height: 22px;
        padding: 2px 0px 2px 0px;
    }

    #dfourth2 {
        width: 784px;
        height: 40px;
        border-radius: 10px;
        padding: 8px;
        gap: 120px;
    }

    #fourth-detail2 {
        width: 768px;
        height: 24px;
        gap: 8px;
        display: flex;
    }

    #second4-icon2 {
        width: 24px;
        height: 24px;
        gap: 8px;
    }

    #dadd-product4 {
        width: 736px;
        height: 22px;
        padding: 2px 0px 2px 0px;
    }

    #dfifth2 {
        width: 784px;
        height: 40px;
        border-radius: 10px;
        padding: 8px;
        gap: 120px;

    }

    #fifth-detail2 {
        width: 768px;
        height: 24px;
        gap: 8px;
        display: flex;
    }

    #second5-icon2 {
        width: 24px;
        height: 24px;
        gap: 8px;
    }

    #dadd-product5 {
        width: 736px;
        height: 22px;
        padding: 2px 0px 2px 0px;
    }

    .firstcontent-p1 {
        width: 137px;
        height: 18px;
        font-weight: 500;
        font-size: 13px;
        line-height: 18.2px;
        color: #303030;
    }

    .firstcontent-p11 {
        width: 174px;
        height: 18px;
        font-weight: 500;
        font-size: 13px;
        line-height: 18.2px;
        color: #303030;
    }

    .fifthcontent-p1 {
        width: 164px;
        height: 18px;
        font-weight: 500;
        font-size: 13px;
        line-height: 18.2px;
        color: #303030;
    }

    .secondcontent-btn2 {
        width: 112px;
        height: 28px;
        border-radius: 6px;
        padding: 6px 12px 6px 12px;
        gap: 8px;
        border: none;
        white-space: nowrap;
    }

    .btn-flex {
        width: 225px;
        height: 28px;
        gap: 16px;
        display: flex;
        align-items: center;
    }

    .body {
        background-color: #f1f1f1;
        height: 900px;
    }

    #dnewicon2 {
        margin-top: 2px;
        margin-left: 2px;

        animation: firstanimation2 0.5s ease-in-out 0.03s 1 normal forwards;

    }

    @keyframes firstanimation2 {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #dnewicon1 {
        margin-top: 2px;
        margin-left: 2px;

        animation: firstanimation1 0.5s ease-in-out 0.03s 1 normal forwards;

    }

    @keyframes firstanimation1 {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #dnewicon3 {
        margin-top: 2px;
        margin-left: 2px;

        animation: firstanimation3 0.5s ease-in-out 0.03s 1 normal forwards;

    }

    @keyframes firstanimation3 {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #dnewicon4 {
        margin-top: 2px;
        margin-left: 2px;

        animation: firstanimation4 0.5s ease-in-out 0.03s 1 normal forwards;

    }

    @keyframes firstanimation4 {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #dnewicon5 {
        margin-top: 2px;
        margin-left: 2px;

        animation: firstanimation5 0.5s ease-in-out 0.03s 1 normal forwards;

    }

    @keyframes firstanimation5 {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}