* {
    margin: 0;

    box-sizing: border-box;
}

.header {
    background-color: #1A1A1A;
    padding: 12px 16px 12px 16px;
    height: 56px;
    gap: 8px;
    position: fixed;
    width: 390px;
    display: flex;
    align-items: center;
}

.note-bell {
    width: 13.5px;
    height: 14.5px;
    top: 3px;
    left: 3.08px;
    color: #E3E3E3;
}



.dc-div {
    width: 32px;
    height: 32px;
    border-radius: 8px;

    gap: 8px;
    background-color: #36FBA1;
    display: flex;

    align-items: center;
    justify-content: center;

}

.logo {
    width: 32px;
    height: 32px;
}

.logo-div {
    width: 278px;
    height: 32px;
    gap: 8px;
    display: flex;
}

.note-1 {
    width: 20px;
    height: 20px;


}

.note-div {
    width: 72px;
    height: 32px;
    gap: 8px;
    display: flex;

    align-items: center;
    justify-content: center;
}

.note-layout {
    width: 32px;
    height: 32px;

    border-radius: 8px;


    align-items: center;
    justify-content: center;
    display: flex;
}

.search-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    color: aliceblue;

    padding: 2.5px;
    padding-left: 8px;
    margin: 5px;


}


.searchinput {
    width: 238px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid #616161;
    padding-left: 32px;



    outline: none;
    background-color: #303030;
    display: flex;

}

.searchinput::placeholder {
    color: #B5B5B5;
    line-height: 18.2px;
    size: 13px;
}

.trial-div {
    width: 390px;
    height: 104px;
    padding: 12px 8px 12px 8px;
    gap: 16px;
    background-color: #1A1A1A;
    color: white;
    display: flex;
    flex-direction: column;

}

.trial-section {
    padding-top: 90px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 244px;

}


.flex-trial {
    display: flex;
    justify-content: space-between;

}

.select-btn {
    width: 99px;
    height: 28px;
    border-radius: 6px;
    border: 1px solid #000000;
    white-space: nowrap;
    background-color: #FFFFFF;
    font-weight: bold;
    color: #323232;

}

.select-p {
    width: 75px;
    height: 16px;
    size: 12px;

}

.trial-div2 {
    width: 330px;
    height: 36px;
    line-height: 18.5px;
    size: 13px;


}

.trial-times {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    padding: 8px;
    gap: 8px;
}

.setup-guide {
    width: 390px;
    height: 124px;
    border: 1px solid #DBDBDB;
    padding: 8px;
    background-color: #FFFFFF;
    gap: 16px;
    flex-direction: column;
    display: flex;
}

.setup-guide2 {
    width: 375px;
    height: 108px;
    display: flex;
    justify-content: space-between;
    padding: 8px;

}

.setup-guide3 {
    width: 330px;
    height: 92px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.setup-guide4 {
    width: 330px;
    height: 60px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.setup-guide5 {
    width: 168px;
    height: 16px;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.setup-arrow {
    width: 28px;
    height: 28px;
    border-radius: 6px;
    padding: 4px;
    gap: 8px;
}

.loading {
    width: 72px;
    height: 4px;
    border-radius: 28px;
    background-color: #E3E3E3;
    display: flex;
}

.completed {


    height: 16px;
    color: #303030;
    white-space: nowrap;
    size: 12px;
    font-weight: 400;


}

.loading-span {
    background-color: #000000;
    width: 18px;
    height: 4px;
    border-radius: 28px 0 0 28px;
}

.loading-span2 {
    background-color: #E3E3E3;
    height: 4px;
}

.body {
    background-color: #f3f3f3;
}

.setup-h {
    width: 82px;
    height: 20px;
    font-weight: 600;
    size: 14px;
    line-height: 19.6px;
    color: #303030;
}

.setup-p {
    width: 330px;
    height: 36px;
    font-weight: 400;
    size: 13px;
    line-height: 18.2px;
    color: #303030;
}

.content {
    width: 375px;
    height: 309px;
    gap: 2px;

}

.first {
    width: 374px;
    height: 141px;
    border-radius: 10px;
    padding: 8px 8px 12px 8px;
    gap: 96px;
    background-color: #F3F3F3;

}

.first-detail {
    width: 358px;
    height: 121px;
    gap: 8px;
    display: flex;

}

.first-icondiv {
    width: 24px;
    height: 121px;
    gap: 8px;
}

.first-icon {
    width: 24px;
    height: 24px;

    padding-top: 2px;
    padding-left: 2px;
}

.first-content {
    width: 326px;
    height: 121px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.firstcontent-1 {
    width: 176px;
    height: 18px;
    font-weight: 600;
    size: 13px;
    line-height: 18.2px;
    color: #303030;
}

.firstcontent-2 {
    width: 326px;
    height: 39px;
    font-weight: 500;
    size: 14px;
    line-height: 19.6px;
    color: #616161;

}

.first-span {
    font-weight: 500;
    size: 13px;
    line-height: 18.2px;
    color: #005BD3;
}

.firstcontent-btn {
    width: 127px;
    height: 28px;
    border-radius: 6px;
    border: 1.5px 1.5px 0px 1.5px;
    padding: 6px 12px 6px 12px;
    gap: 8px;
    color: #FFFFFF;
    background-color: #404040;
}

.firstcontent-p {
    width: 56px;
    height: 28px;
    border-radius: 6px;
    white-space: nowrap;
    gap: 8px;

}